@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    /* border: solid 4px green; */

    width: 100vw;
    height: 100vh;


    margin: 0;
    padding: 0;
    line-height: 1.1rem;

    font-size: 10px;
    font-family: Poppins;
    font-weight: 200;
    background-color: #17213F;
    display: flex;
    justify-content: start;
    padding-left: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    
    color: #dee0fcc8;
}


.character-container{
    /* border: solid 4px red; */
    margin-right: 1rem;
    height: fit-content;
    display: flex;
    background-color:#17213F;
    justify-content: start;
    flex-wrap: wrap;

    gap: 2rem;
}

.person{
    /* border: solid 1px white; */
    background:  #0F162B;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-height: 29rem;
    width: 15rem;
    border-radius: 0.5rem;
}

.person-image{
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    object-fit:cover;
    object-position: center center;
    width: 100%;
    height: 10rem;
}


.name{
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 1rem;
}

.role{
    padding-left: 1rem;
    padding-top: 0.25rem;
    font-size: 0.8rem;
    color:  #dee0fc82;
}

.prevoisly{
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 0.8rem;
    color:  #dee0fc82;
}

.img-logo{
    padding-left: 1rem;
    padding-top: 0.5rem;
    max-height: 3rem;
    padding-bottom: 1rem;
}

.google{
    max-width: 5rem;
    max-height: 1.5rem;
}
.uber{
    padding-top: 0.5rem;
    max-height: 1.5rem;
}

.apple{
    padding-top: 0.2rem;
    max-height: 1.7rem;
}

.empty{
    border: solid 6px #121c37;
    background: #17213F;
    justify-content: center;
    align-items: center;

    max-height: 29.25rem;
}

.add-symbol{
    font-size: 2rem;
}

.add-more{
    padding-top: 0.5rem;
    font-size: 1rem;
}
